<%= form_for([@journey, @claim]) do |f| %>
  <% if @claim.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@claim.errors.count, "error") %> prohibited this claim from being saved:</h2>

      <ul>
      <% @claim.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= f.hidden_field :points, :value => @journey.difficulty * 50 %>


  <div class="row clue-container">
    <p>Starting Point:<br /> <%= @journey.first_clue %></p><br>
    <p><%= image_tag @journey.first_image_url %></p>
    <ul class="clue">

      <% for clue in @journey.clues %>
            <li class="clue-image">Clue: <%= clue.content %><br /><br />
                <%= link_to image_url(clue.image_url) do %>
                    <%= image_tag clue.image_url, class: "clue-image" %>
                </li>   
            <% end %>  
            <% end %>
            <br>
            <br>
            <br>
            <br>
              <li class="clue-image">  <button type="button" class="found btn"><%= image_tag('destination.png') %></button>
                    <br /><br /><br /></li>   
    </ul>
  </div>
    <div class="clue-container">

      <ul class="validation">
      <li class="final"><h1>The Destination<br /></h1><%= image_tag @journey.validation_url %><br><br><%= @journey.destination %>
      <br>
      <h2>Now that you've found it, upload a selfie to remember and share your journey!</h2><br>
      <button class="btn btn-primary" style="width:100%;"><%= f.file_field :validation, required: true %></button><br /><br />

      <%= f.submit "Complete Journey", class: "btn btn-secondary btn-lg btn-block" %></li>
      </ul>

  </div>

   <button type="button" class="clues btn btn-primary">Next Clue</button>

<% end %>

<script>
$('ul.clue > li.clue-image').hide();
$('button.clues').click(function() {
    $('ul.clue > li.clue-image:hidden:first').show();
});
$('ul.validation > li.final').hide();
$('button.found').click(function() {
    $('ul.validation > li.final:hidden:first').show();
    $('button.clues').hide();


});
</script>