<%= form_for([@journey, @claim]) do |f| %>
  <% if @claim.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@claim.errors.count, "error") %> prohibited this claim from being saved:</h2>

      <ul>
      <% @claim.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= f.hidden_field :points, :value => @journey.difficulty * 50 %>

<strong>Clues:</strong>
<button type="button" class="btn btn-primary">Show First Clue</button>
  <ol>
  <% for clue in @journey.clues %>
        <li><%= clue.content %>
        <%= image_tag clue.image_url(:thumb) if clue.image? %></li>

  <% end %>
  </ol>
  <div class="form-group">
    <%= f.label :answer %><br>
    <%= f.text_field :answer, class: "form-control" %>
  </div>
  
  <div class="actions">
    <%= f.submit 'Submit your answer', class: "btn btn-primary" %>
  </div>
<% end %>
<script>
$('ol > li').hide();
$('button').click(function() {
    $('ol > li:hidden:first').show();
});
</script>