<%= form_for([@journey, @claim]) do |f| %>
  <% if @claim.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@claim.errors.count, "error") %> prohibited this claim from being saved:</h2>

      <ul>
      <% @claim.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= f.hidden_field :points, :value => @journey.difficulty * 50 %>

<strong>Clues:</strong>
  <div class="row">
  <%= @journey.first_clue %><br><%= image_tag @journey.first_image_url %>
    <ol>

      <% for clue in @journey.clues %>
            <li><%= clue.content %>
            <%= image_tag clue.image_url, class: "clue-image" %></li>
            <br>
      <% end %>
    </ol>
  </div>
  <button type="button" class="btn btn-primary">Show Next Clue</button>

    <button type="button" class="btn btn-primary">Found It!</button>
    <ul><li><%= @journey.validation%><br>
    <%= image_tag @journey.validation_url %></li></ul>
<% end %>
<script>
$('ol > li').hide();
$('button').click(function() {
    $('ol > li:hidden:first').show();
});
$('ul > li').hide();
$('button').click(function() {
    $('ul > li:hidden:first').show();
});
</script>