<div class="center">
  <h2>Who's Finished Your Journeys?</h2>
</div>


<div class="table-responsive">
<table class="table table-bordered">
  <tr>
    <th class="center">Name</th>
    <th class="center">Explorer</th>
    <th class="center">Explorer's Answer</th>
    <th class="center">Date Completed</th>
  </tr>

  <% @claims.each do |claim| %>
    <tr>
      <td class="center"><%= claim.journey.name %></td>
      <td class="center"><%= claim.explorer.email %></td>
      <td class="center"><%= claim.answer %></td>
      <td class="center"><%= claim.created_at.strftime("%B %-d, %Y") %></td>
    </tr>
  <% end %>
</table>
</div>
<br>
<div class="container">
<% if user_signed_in? %>
  <%= link_to 'New Journey', new_journey_path, class: "btn btn-primary" %>
<% end %>
</div>