<p id="notice"><%= notice %></p>
<div class="container">
<h1 class="mobileheader">Your Scrapbook</h1>
<p class="mobileheader">Pictures from other explorers</p>
<br />
<%= link_to "See your full explorer history", profile_path, class: "btn btn-primary btn-full" %>
<br />
   
    <% @claims.each do |claim| %>
      <div class="col-md-4 thumb scrapbook">
        
           <%= image_tag claim.validation_url, class: "image" %>
        <div class="overlay">
          <h3>Journey: "<%= claim.journey.name %>"</h3>
          <p>Completed: <%= time_ago_in_words(claim.created_at) %> ago</p>
        </div>
      </div>

    <% end %>

</div>

