<h1><%= @current_user.username %>'s Profile</h1>
<div class="row">
  <h2>Creator History: Who's Finished Your Journeys?</h2>
</div><!-- row -->

<h3><%= link_to "Edit Profile", edit_user_registration_path %></h3>

<div class="table-responsive">
<table class="table table-bordered">
  <tr>
    <th class="center">Name</th>
    <th class="center">Explorer</th>
    <th class="center">Explorer's Answer</th>
    <th class="center">Date Completed</th>
  </tr>

  <% @claims.each do |claim| %>
    <tr>
      <td class="center"><%= claim.journey.name %></td>
      <td class="center"><%= claim.explorer.email %></td>
      <td class="center"><%= claim.answer %></td>
      <td class="center"><%= claim.created_at.strftime("%B %-d, %Y") %></td>
    </tr>
  <% end %>
</table>
</div>
<br>
<div class="center">
  <h2>Explorer History: What Have You Found?</h2>
</div>
<div class="points">
  <h3>Your Total Points: <%= @claims.sum(:points).to_i %></h3>
</div>
<div class="table-responsive">
  <table class="table table-bordered">
    <tr>
      <th class="center">Journeys</th>
      <th class="center">Your Answer</th>
      <th class="center">Completed?</th>
      <th class="center">Points Earned</th>
    </tr>

    <% @claims.each do |claim| %>
      <tr>
        <td class="center"><%= link_to claim.journey.name, @journey_claims_path %></td>
        <td class="center"><%= claim.created_at.strftime("%B %-d, %Y") %></td>
        <td class="center"><%= claim.points %></td>
        <td class="center"><%= image_tag claim.validation_url %></td>
      </tr>
    <% end %>
  </table>
</div>
<br>


<div class="container">
<% if user_signed_in? %>
  <%= link_to 'New Journey', new_journey_path, class: "btn btn-primary" %>
<% end %>
</div>

