<h1>Inventure Scoreboard</h1>
<div class="table-responsive">
<table class="table table-bordered">
  <tr>
    <th class="center">Name</th>
    <th class="center">Explorer</th>
    <th class="center">Explorer's Answer</th>
    <th class="center">Points</th>
        <th class="center">Date Completed</th>

  </tr>

  <% @claims.each do |claim| %>
    <tr>
      <td class="center"><%= claim.journey.name %></td>
      <td class="center"><%= claim.explorer.username %></td>
      <td class="center"><%= claim.creator.email %></td>
      <td class="center"><%= claim.points %></td>
      <td class="center"><%= claim.created_at.strftime("%B %-d, %Y") %></td>
    </tr>
  <% end %>
</table>
</div>