<p id="notice"><%= notice %></p>
<p>
  <strong>Answer:</strong>
  <%= @claim.answer %>
</p>

<p>
  <strong>User:</strong>
  <%= @claim.user_id %>
</p>

<p>
  <strong>Journey:</strong>
  <%= @claim.journey_id %>
</p>
<%= image_tag @claim.validation_url %>

