<div class="row about">
	
<div class="col-md-4">
	<div class="sidebar">
		<div class="row">
			<h1>What is Inventure?</h1>	
		</div>
			<div class="about">
				<ul>
					<li>Inventure encourages people to invent and explore journeys.</li>
					<li>The goal of Inventure is to make the journey as exciting as the destination by following pictures and clues to new places in your community.</li>
					<li>Like a scavenger-hunt, Inventure provides pictures and clues that lead you to each stop until you've reached the final destination.</li>
					<li>Once you've arrived, take a selfie at the location and save it to your scrapbook.</li>
				<%= link_to "Get Started",  new_user_registration_path, class: "btn btn-primary" %></ul>

			</div>
	</div></div>
	<div class="col-md-8 hills">
	</div>
	
</div><!--row-->


<div class="invent-row">
	<div class="about-invent">
		<div class="row">
			<div class="col-md-4 left">
				<h1>How to Invent</h1>
				<h2>I - Add the Starting Point</h2>
				<p>1. Take a picture of the location.</p>
				<p>2. Enter a description of the journey in the text box.</p>
			</div>
			<div class="col-md-4 right">
				<%= image_tag('invent_hand', class: "invent-hand") %>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 left">
				<div class="circle">
					<%= image_tag('invent_bubble_1.png') %>
				</div>
			</div>
			<div class="col-md-4 right">
				<h2>II - Add Stops</h2>
				<p>Add pictures for each of your stops; then write a clue leading to each picture.</p>
				<p>TIP: You can add pictures during this process or edit the journey later.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 left">
				<h2>III - Name &amp; Rate the Journey</h2>
				<p>Name the journey and add a couple words to describe it. You will also add a difficulty rating from 1-5, 1 being the easiest.</p>
			</div>
			<div class="col-md-4 right">
				<div class="circle">
					<%= image_tag('invent_bubble_2.png') %>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 left">
				<div class="circle">
					<%= image_tag('invent_bubble_3.png') %>
				</div>
			</div>
			<div class="col-md-4 right">
				<h2>IV - Finalize the Journey</h2>
				<p>Add a name and confirmation picture of the destination so explorers know they've found the right place.</p>
				<br />
				<br />
				<br />
				<br />
				<%= link_to "Get Started",  new_user_registration_path, class: "btn btn-primary" %></ul>
			</div>
		</div>
	</div>	
</div>


<div class="explore-row">
	<div class="about-explore">
		<div class="row">
			<div class="col-md-4 left">
				<h1>How to Explore</h1>
				<h2>I - Choose a Journey</h2>
				<p>1. Find a journey in the Explore library.</p>
				<p>2. Click on a thumbnail to see journey details.</p>
			</div>
			<div class="col-md-4 right">
				<%= image_tag('explore_hand', class: "explore-hand") %>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 left">
				<div class="circle">
					<%= image_tag('explore_bubble_1.png') %>
				</div>
			</div>
			<div class="col-md-4 right">
				<h2>II - Get Started</h2>
				<p>Once you've found a journey, simply hit "Let's Go!" to begin.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 left">
				<h2>III - Explore</h2>
				<p>Follow the pictures and their corresponding clues. most will be directional, but all will be witty. Think fast!</p>
			</div>
			<div class="col-md-4 right">
				<div class="circle">
					<%= image_tag('explore_bubble_2.png') %>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 left">
				<div class="circle">
					<%= image_tag('explore_bubble_3.png') %>
				</div>
			</div>
			<div class="col-md-4 right">
				<h2>IV - Selfie Time</h2>
				<p>When you see the destination sign, look around for the destination. Check it out, and take a selfie while you're at it!</p>
				<br />
				<br />
				<br />
				<br />
				<%= link_to "Get Started",  new_user_registration_path, class: "btn btn-primary" %></ul>
			</div>
		</div>
	</div>	
</div>
