<h1>Choose</h1>

<div class="col-md-3">
	<h2><%= link_to "Explore", journeys_path %></h2>
	<p><%= link_to "Choose your journey", journeys_path %></p>
		<br />
	<p><%= link_to "Do fun things!", journeys_path %></p>
</div>

<br />
<br />

<div class="col-md-3">
	<h2><%= link_to "Invent", new_journey_path %></h2>
	<p><%= link_to "Create your own journey", new_journey_path %></p>
	<p><%= link_to "Share your favorite places", new_journey_path %></p>
</div>
