<div class="row"><div class="landing-nav">
 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">

    <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

 <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

  <ul class="nav navbar-nav navbar-right">   
    <% if user_signed_in? %>
       <li><%= link_to "Explore", journeys_path %></li>
        <li><%= link_to "Invent", new_journey_path %></li>
        <li><%= link_to "Profile", profile_path %></li>
        <li><%= link_to "Log Out", destroy_user_session_path, :method => :delete %></li>
     <% else %>
        <li><%= link_to "Log in", new_user_session_path %></li>
        <li><%= link_to "Sign up", new_user_registration_path %></li>
      <% end %>

  </ul>
  </div><!--collapse navbar-collapse-->
</div><!--landing-nav-->


  <div class="hero-image">

    <div class="col-md-3 branding">
        <%= image_tag("logo.png", alt: 'inventure', class: 'logo center') %>
        <h1>A treasure hunt for places</h1>
        <h2><a href="#anchor">Let's Go</a></h2>
    </div><!--col-md-4-->

  </div><!--hero-image-->
</div><!--row-->

<!--<a id="anchor"/>-->
<div class="background">
<div class="row identity">
  <h1>Make the journey as<br /> exciting as the destination</h1>
  <h2>Inventure is a community exploration app that lets you create and share adventure for your favorite places</h2>
</div><!--row identity-->
  <div class="scrollingphotos">

  </div>
<div class="row landing-info">

  <div class="col-md-4">
    <div class="invent-img">
    </div><!--invent-img-->
    <h2>Invent</h2>
    <p>Create journeys with pictures and clues</p>
  </div><!--col-md-3-->

  <div class="col-md-4">
      <div class="explore-img">
      </div><!--explore-img-->
    <h2>Explore</h2>
    <p>Journey from stop to stop to find new places</p>
  </div><!--col-md-3-->

  <div class="col-md-4">
      <div class="repeat-img">
      </div><!--explore-img-->
    <h2>Repeat</h2>
    <p>Enjoyed yourself? Do it all again</p>
  </div><!--col-md-3-->

</div><!--row identity-->

</div><!--background-->

<div class="row identity">
  <h1>Let the Inventure begin!</h1>
</div><!--row identity-->

<div class="row">
  <div class="landing-signup-row">
    <div class="col-md-4 col-md-offset-4 signup-form">
        <h2 class="mobileheader">Journey With Us</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, class: "form-control" %>
      </div><!--field-->

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div><!--field-->

      <div class="field">
        <%= f.label :password_confirmation, "Password Confirmation" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
      </div><!--field-->

      <div class="actions">
        <%= f.submit "Sign up", class: "btn btn-primary" %>
      </div><!--actions-->

    <% end %>
    </div><!--col-md-offset-4 signup-form-->
  </div><!--landing-signup-row-->
</div><!--row-->