<div class="row"><div class="landing-nav">
 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">

    <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

 <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

  <ul class="nav navbar-nav navbar-right">   
    <% if user_signed_in? %>
       <li><%= link_to "Explore", journeys_path %></li>
        <li><%= link_to "Invent", new_journey_path %></li>
        <li><%= link_to "Profile", profile_path %></li>
        <li><%= link_to "Log Out", destroy_user_session_path, :method => :delete %></li>
     <% else %>
        <li><%= link_to "Log In", new_user_session_path %></li>
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <li><%= link_to "About", pages_about_path %></li>
      <% end %>

  </ul>
  </div><!--collapse navbar-collapse-->
</div><!--landing-nav-->


  <div class="hero-image">

    <div class="col-md-3 branding">
        <%= image_tag("logo.png", alt: 'inventure', class: 'logo center') %>
        <h1>A treasure hunt for places</h1>
        <h2><a href="#anchor">Let's Go</a></h2>
    </div><!--col-md-4-->

  </div><!--hero-image-->
</div><!--row-->

<div class="background">
<div class="row identity">
  <h1>Make the journey as exciting as the destination</h1>
  <h2>Inventure is a community exploration app for creating and sharing adventures to your favorite places.</h2>
</div><!--row identity-->
<div class="row">
  <!--<div class="scrollingphotos">
  </div>--> 
</div><!--row-->

  <div class="row landing-info">
  
  <div class="col-md-4 invent">
    <div class="invent-img">
    </div><!--invent-img-->
    <h2>Invent</h2>
    <p>Create journeys with pictures and clues.</p>
  </div><!--col-md-3-->
  
  <div class="col-md-4 explore">
      <div class="explore-img">
      </div><!--explore-img-->
    <h2>Explore</h2>
    <p>Journey from stop to stop to find new places.</p>
  </div><!--col-md-3-->

  <div class="col-md-4 repeat">
      <div class="repeat-img">
      </div><!--explore-img-->
    <h2>Repeat</h2>
    <p>Enjoyed yourself? Find another journey.</p>
  </div><!--col-md-3-->

</div><!--row landing-info-->


    <div class="row" style="border-bottom: 1px solid lightgray;"><!--invent-row-->
        

            <div class="col-md-4 info left">
              <h2>Invent New Journeys</h2>
                <h3>Choose a destination</h3>
                <p>Are you an inventor? Have you found a destination that deserves discovery? We have an important task for you. Invent a journey, the path that will lead explorers to your treasure!</p>
                  <br />
                <h3>Invent a journey</h3>
                <p>Know a place in your community that deserves more attention? A hidden gem, perhaps? Help others discover it for themselves.</p>
                  <br />
                <h3>Share your journey</h3>
                <p>Journeys invented are experiences shared!</p>
                  <br /><br />
                <%= link_to "Learn More",  pages_about_path, class: "btn btn-primary" %>
            </div>

            <div class="col-md-4 right">
                        <div class="camera-img"></div>
            </div>
    </div><!--invent-row-->

    <div class="row"><!--explore-row-->
        <div class="col-md-4 left">
            <div class="hills-img"></div>
        </div>

        <div class="col-md-4 info right">
            <h2>Explore New Places</h2>
                <h3>Discover new places</h3>
                <p>Are you an explorer? Inventure will help you discover your next destination! We offer you a unique selection of journeys to explore.</p>
                  <br />
                <h3>Explore</h3>
                <p>Look no further than Inventure for a journey that will lead you to the undiscovered treasures within your community! You can select your journey by photo, name, difficulty, and category.</p>
                  <br />
                <h3>Share your discovery</h3>
                <p>So, you’ve followed the path from point to point to the destination. The journey doesn’t end there! Share a photo of yourself with the treasure you discovered.</p>
                  <br /><br />
                <%= link_to "Learn More",  pages_about_path, class: "btn btn-primary" %>
            </div>
    </div><!--explore-row-->


</div><!--background-->

<div class="row identity">
  <h1>Journey With Us</h1>
</div><!--row identity-->

<div class="row">
  <div class="landing-signup-row">
    <div class="col-md-4 col-md-offset-4 signup-form"><a id="anchor"/>
        <h2 class="mobileheader">Sign Up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, class: "form-control" %>
      </div><!--field-->

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div><!--field-->

      <div class="field">
        <%= f.label :password_confirmation, "Password Confirmation" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
      </div><!--field-->

      <div class="actions">
        <%= f.submit "Sign up", class: "btn btn-primary" %>
      </div><!--actions-->

    <% end %>
    </div><!--col-md-offset-4 signup-form-->
  </div><!--landing-signup-row-->
</div><!--row-->