<div class="landing-nav">
 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">

    <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

 <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

  <ul class="nav navbar-nav navbar-right">   
    <% if user_signed_in? %>
       <li><%= link_to "Explore", journeys_path %></li>
        <li><%= link_to "Invent", new_journey_path %></li>
        <li><%= link_to "Profile", profile_path %></li>
        <li><%= link_to "Log Out", destroy_user_session_path, :method => :delete %></li>
     <% else %>
        <li><%= link_to "Log in", new_user_session_path %></li>
        <li><%= link_to "Sign up", new_user_registration_path %></li>
      <% end %>

  </ul>
  </div><!--collapse navbar-collapse-->
</div><!--landing-nav-->

<div class="row">
  <div class="hero-image">

    <div class="col-md-3 branding">
        <h1>A treasure hunt for places</h1>
        <h2><a href="#anchor">Let's Go</a></h2>
    </div><!--col-md-4-->

  </div><!--hero-image-->
</div><!--row-->

<a id="anchor"/>
<div class="row identity">
  <h1>Make the journey as exciting as the destination</h1>
</div><!--row identity-->

<div class="row identity">
  <div class="col-md-3">
    <h2>Invent Your Next Adventure</h2>
    <p>Inventure is a community exploration app that lets you create and share treasure hunts for your favorite places and vendors. Are you ready to invent your next adventure?</p>
  </div><!--col-md-3-->
  <div class="col-md-3">
    <h2>Explore Your Community</h2>
    <p>Rather than tell you where to go or how to get there, Inventure offers a journey in your own community. Follow clues from stop to stop and earn points for discovering new places.</p>
  </div><!--col-md-3-->
</div><!--row identity-->

<div class="row">
  <div class="scrollingphotos">

  </div>
</div>

<div class="landingcontainer">
<div class="row invent">
<div class="invent-text">
  <div class="col-md-5 right">  
<h1>Invent</h1>
        <p>Create journeys with pictures and clues for other Inventurers to discover, leading them from stop to stop toward a final destination. Earn points and become ranked for each journey you invent.</p>
  </div><!--col-md-5-->  
    </div><!--1-text-right-->

  <div class="col-md-3">
    <div class="invent-img">
    </div><!--invent-img-->
  </div><!--col-md-3-->

 </div><!--row-->

<div class="row explore">
  <div class="col-md-5">
      <div class="explore-text">
      <h1>Explore</h1>
        <p>Explore the journeys of other Inventurers, following clues from stop to stop toward a final destination. Earn points and share your adventures with your friends.</p>
      </div>
      </div><!--explore-img-->

  <div class="col-md-3">
      <div class="explore-img">
      </div><!--explore-img-->
</div><!--row-->
</div><!--col-md-4-->
</div>

<div class="row">
  <div class="landing-signup-row">
    <div class="col-md-4 col-md-offset-4 signup-form">
        <h2 class="mobileheader">Journey With Us</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, class: "form-control" %>
      </div><!--field-->

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div><!--field-->

      <div class="field">
        <%= f.label :password_confirmation, "Password Confirmation" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
      </div><!--field-->

      <div class="actions">
        <%= f.submit "Sign up", class: "btn btn-primary" %>
      </div><!--actions-->

    <% end %>
    </div><!--col-md-offset-4 signup-form-->
  </div><!--landing-signup-row-->
</div><!--row-->