<div class="row landing-nav">
  <ul>
    <li><%= link_to "Log In", new_user_session_path %></li>            
    <li><%= link_to "Sign Up", new_user_registration_path %></li>   
  </ul>
</div><!--row landing-nav-->

<div class="row">
  <div class="hero-image">
    <%= image_tag "landing.jpg" %>
    <p>A treasure hunt for places</p>
    <h1><%= link_to "LET'S GO!", new_user_registration_path %></h1>
  </div><!--hero-image-->
</div><!--row-->

<div class="row calltoaction ">
  <p>Make your journey as exciting as your destination.</p>
</div><!--row calltoaction-->

<div class="row">
  <div class="col-md-4">
    <div class="mobilelanding">
      <div class="l-column-left">
        <h1>Explore</h1>
      </div>
    </div><!--mobilelanding-->
  </div><!--col-md-4-->

  <div class="col-md-8">
      <div class="l-text-left">
        <h1>Text Stuff</h1>
      </div>
  </div><!--col-md-8-->
</div><!--row-->

<div class="row">
  <div class="l-column-right col-md-4">
      <h1>Invent</h1>
  </div><!--1-col-right col-md-4-->  

  <div class="col-md-8">
    <div class="l-text-right">
        <h1>Text Stuff</h1>
    </div><!--1-text-right-->
  </div><!--col-md-8-->

 </div><!--row-->

<div class="row">
  <div class="landing-signup-row">
    <div class="col-md-4 col-md-offset-4 signup-form">
        <h2 class="mobileheader">Journey With Us!</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div><!--field-->

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div><!--field-->

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
      </div><!--field-->

      <div class="actions">
        <%= f.submit "Sign up", class: "btn btn-primary" %>
      </div><!--actions-->

    <% end %>
    </div><!--col-md-offset-4 signup-form-->
  </div><!--landing-signup-row-->
</div><!--row-->