<div class="form">
<%= form_for(@journey) do |f| %>
  <% if @journey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@journey.errors.count, "error") %> prohibited this journey from being saved:</h2>

      <ul>
      <% @journey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
  <h2>STEP 1: Add an image for the journey</h2>

    <%= f.file_field :image, class: "btn btn-primary" %><br>
    <%= f.label :remote_image_url, "or paste image URL here" %><br />
    <%= f.text_field :remote_image_url, class: "form-control" %>
  </div>

  <div class="form-group">
  <h2>STEP 2: Describe the journey</h2>
    <%= f.label :name, "1. Add a catchy name to make your journey stand out." %>
    <%= f.text_area :name, class: "form-control" %>
    <br>
    <%= f.label :description, "2. Add 2-3 tags to describe your journey (e.g., hungry, hipster, nighttime)" %>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
  <h2>STEP 3: Add Clues</h2>
      <%= f.fields_for :clues do |builder| %>
        <%= render 'clue_fields', f:builder %>
      <% end %>
    <%= link_to_add_fields "Add Another Clue", f, :clues, class: "btn btn-primary" %>
  </div>

  <div class="form-group">
  <h2>STEP 4: Rate the difficulty from 1-5</h2>
    <%= f.number_field :difficulty, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit 'Create Journey', class: "btn btn-primary" %>
  </div>
<% end %>
</div>