<%= form_for(@journey) do |f| %>
  <% if @journey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@journey.errors.count, "error") %> prohibited this journey from being saved:</h2>

      <ul>
      <% @journey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_area :name %>
  </div>

  <div class="field">
      <%= f.fields_for :clues do |builder| %>
        <%= render 'clue_fields', f:builder %>
      <% end %>
    <%= link_to_add_fields "Add Clue", f, :clues, class: "btn btn-mini btn-info" %>
  </div>

  <div class="field">
    <%= f.label :difficulty %><br>
    <%= f.number_field :difficulty %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
