
<div class="form">
<%= form_for(@journey) do |f| %>
  <% if @journey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@journey.errors.count, "error") %> prohibited this journey from being saved:</h2>

      <ul>
      <% @journey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div id="flip" class="btn btn-primary">Step 1 - Add Journey Image</div>
    <div id ="panel">
        <h2>STEP 1 - Add Journey Image</h2>
        <p>Take a picture of the thumbnail explorers will see when they select the journey.</p>
        <br>
        <h4>Tips</h4>
            <ul>
              <li>Make the picture eye-catching so it stands out!</li>
              <li>Be vague. Don’t give away the final destination!</li>
              <li>If explorers can guess the final destination, there’s no point doing the journey.</li>
            </ul>
        <br>
          <%= f.file_field :image, class: "btn btn-primary" %><br>
    </div>
    <hr>
 <div id="flip2" class="btn btn-primary">Step 2 - Add Stops</div>  
 <div id ="panel2">
        <h2>STEP 2 - Add Stops</h2>
        <p>Add your first stop (or the starting point). Take a pic of something near your final destination.</p> 
        <br>
        <h4>Tips</h4>
          <ul>
            <li>Pick something close enough to the final destination that explorers can get there with one clue (which you’ll write next).</li>
            <li>Pick something relatively permanent! Signs and construction zones might change.</li>
            <li>Think of vague directions:
            <ul>
              <li>Head downstairs from here.</li>
              <li>Turn 180 degrees and walk straight.</li>
              <li>Go left till you find something bright red, then look for the next clue.</li>
            </ul></li>
          </ul>
          <br>
            <%= f.fields_for :clues do |builder| %>
              <%= render 'clue_fields', f:builder %>
            <% end %>

            <%= link_to_add_fields "Add Another Clue", f, :clues, class: "btn btn-primary" %>
    </div>
        <hr>

  <div id ="flip3" class="btn btn-primary">Step 3 - Name and Rate</div>
 <div id="panel3">        
        <h2>STEP 3 - Name and Rate Your Journey</h2> 
            <%= f.label :name, "Add a name for your journey." %>
            <%= f.text_area :name, class: "form-control" %>
            <br />
            <br />

            <%= f.label :description, "Add 2-3 tags that describe your journey (e.g., hungry, hipster, nighttime)." %>
            <%= f.text_area :description, class: "form-control" %>
            <br />
            <br />
          <p>Rate the difficulty from 1-5.</p>
            <%= f.number_field :difficulty, class: "form-control" %>
            <br>
      <div class="actions">
            <%= f.submit 'Create Journey', class: "btn btn-primary" %>
                    <hr>

  </div>


<% end %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script>
$('div[id^=flip]').click(function() {
  $('div[id^=panel]').hide();
  $(this).next('div[id^=panel]').show('slow');
});
</script>