
<div class="form">
<%= form_for(@journey) do |f| %>
  <% if @journey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@journey.errors.count, "error") %> prohibited this journey from being saved:</h2>

      <ul>
      <% @journey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="step1 target" class="btn btn-primary">Step 1 - Add Cover Photo
  
        <h2>STEP 1 - Add Cover Photo</h2>
        <p>This photo will represent the journey explorers will take.</p>
        <br>
        <h4>Tips</h4>
            <ul>
              <li>Make the photo eye-catching so it stands out!</li>
              <li>Be vague. Don’t give away the final destination!</li>
              <li>If explorers can guess the final destination, there’s no point doing the journey.</li>
            </ul>
        <br>
          <%= f.file_field :image, class: "btn btn-primary" %><br>
   
    <hr>
    <div id ="buttons">
      <a class="Smallbutton btn btn-primary" id="showStep2" data-target=".step2">Next Step</a>
     </div>
    </div><!--step1 close-->

<div class="step2 target" style="display: none;">
    <h2>Add First Stop</h2>
      <%= f.text_area :first_clue, class: "form-control" %><br>
      <%= f.file_field :first_image, class: "btn btn-primary" %>

    <div id="buttons">  
          <a class="Smallbutton btn btn-primary" id="showStep1" data-target=".step1">Previous</a>
         <a class="Smallbutton btn btn-primary" id="showStep3" data-target=".step3">Next</a>
    </div>
</div>


 <div class="step3 target" style="display: none;">
Step 2 - Add Stops  

        <h2>STEP 2 - Add Stops</h2>
        <p>A stop is a photo paired with a clue that leads the explorer to the next stop, then ultimately the final destination. </p> 
        <br>
        <h4>Tips</h4>
          <ul>
            <li>Pick something relatively permanent! Signs and construction zones might change.</li>
            <li>Think of vague directions:
            <ul>
              <li>Head downstairs from here.</li>
              <li>Turn 180 degrees and walk straight.</li>
              <li>Go left until you find "X" put your back to it and you can see your next stop.</li>
            </ul></li>
          </ul>
          <br>
            <%= f.fields_for :clues do |builder| %>
              <%= render 'clue_fields', f:builder %>
            <% end %>

            <%= link_to_add_fields "Add Another Stop", f, :clues, class: "stop_btn btn btn-primary" %>
      <div id="buttons">  
          <a class="Smallbutton btn btn-primary" id="showStep1" data-target=".step1">Previous</a>
         <a class="Smallbutton btn btn-primary" id="showStep3" data-target=".step3">Next</a>
       </div>
        Step 3 - Name and Rate
       
        <h2>STEP 3 - Name and Rate Your Journey</h2> 
            <%= f.label :name, "Add a name for your journey." %>
            <%= f.text_area :name, class: "form-control" %>
            <br />
            <br />

            <%= f.label :description, "Add 2-3 tags that describe your journey (e.g., hungry, hipster, nighttime)." %>
            <%= f.text_area :description, class: "form-control" %>
            <br />
            <br />
          <p>Rate the difficulty from 1-5.</p>
            <%= f.number_field :difficulty, class: "form-control" %>
            <br>
      
      <h2>Add Answer Image</h2>
      <%= f.text_area :validation, class: "form-control" %><br>
      <%= f.file_field :validation, class: "btn btn-primary" %>

      <div id ="buttons">
         <a class="Smallbutton btn btn-primary" id="showStep2" data-target=".step2">Previous</a><br><br>
         <div class="form-group">
          <%= f.submit class: "btn btn-lg btn-primary btn-block" %>
        </div>
      </div>
</div><!--step3 close-->

<% end %>
<%= javascript_tag do %>
$(document).ready(function () {
    var $targets = $('.target');
    $('#buttons .Smallbutton').click(function () {
        var $target = $($(this).data('target')).slideToggle();
        $targets.not($target).hide()
    });
});
<% end %>