<div class="container">
<p id="notice"><%= notice %></p>

<h1 class="mobileheader">Explore</h1>

<br>
<br>
<div class="row">
<%= form_for_filterrific @filterrific do |f| %>
  <div>
    Search
    <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
    <%= f.text_field(
      :search_query,
      class: 'filterrific-periodically-observed'
    ) %>
  </div>
  <div>
    Country
    <%= f.select(
      :category,
      @filterrific.select_options[:category],
      { include_blank: '- Any -' }
    ) %>
  </div>
  <div>
    Sorted by
    <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by]) %>
  </div>
  <div>
    <%= link_to(
      'Reset filters',
      reset_filterrific_url,
    ) %>
  </div>
  <%# add an automated spinner to your form when the list is refreshed %>
  <%= render_filterrific_spinner %>
<% end %>

<%= render(
  partial: 'journeys/list',
  locals: { journeys: @journeys }
) %>

</div>

<div class="row">
    <% @journeys.each do |journey| %>
      <div class="col-md-4">
        <%= link_to journey do %>
        <%= image_tag journey.first_image_url, class: "image" %>
        <div class="overlay">
          <h3><%= journey.name %></h3>
          <h4>Difficulty: <%= journey.difficulty %></h4>
          <h4>Category: <%= journey.category %></h4>

          <% if current_user == journey.user or current_user.try(:admin?) %>
             <h5><%= link_to 'Destroy', journey, method: :delete, data: { confirm: 'Are you sure?' } %></h5>
          <% end %>
        </div>
      <% end %>
      </div>

    <% end %>

<br>
</div>
</div>