<p id="notice"><%= notice %></p>

<h1>Listing Journeys</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Difficulty</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @journeys.each do |journey| %>
      <tr>
        <td><%= journey.name %></td>
        <td><%= journey.difficulty %></td>
        <td><%= journey.description %></td>
        <td><%= link_to 'Show', journey %></td>
        <td><%= link_to 'Edit', edit_journey_path(journey) %></td>
        <td><%= link_to 'Destroy', journey, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Journey', new_journey_path %>
