<div class="container">
<p id="notice"><%= notice %></p>

<h1 class="mobileheader">Explore</h1>

<br>
<br>
<div class="row">
    <% @journeys.each do |journey| %>
      <div class="col-md-4">
        <%= link_to journey do %>
        <%= image_tag journey.image_url, class: "image" %>
        <div class="overlay">
          <h3><%= journey.name %></h3>
          <h4>Difficulty: <%= journey.difficulty %></h4>
          <% if current_user == journey.user %>
             <h5><%= link_to 'Destroy', journey, method: :delete, data: { confirm: 'Are you sure?' } %></h5>
          <% end %>
        </div>
      <% end %>
      </div>

    <% end %>

<br>
</div>
</div>