<div class="form">
<p id="notice"><%= notice %></p>
<div class="image-show">
	<%= image_tag @journey.image_url if @journey.image? %>
</div>

  <h2><%= @journey.name %></h2>

<p>
  <%= @journey.description %>
</p>
<p>
  Difficulty Rating:<%= @journey.difficulty %>
</p>




<div class="center">
      <%= link_to "Let's Go!", new_journey_claim_path(@journey), class: "btn btn-primary" %>
    </div>

<%= link_to 'Edit', edit_journey_path(@journey) %> |
<%= link_to 'Back', journeys_path %>
</div>