<p id="notice"><%= notice %></p>
<%= image_tag @journey.image_url(:thumb) if @journey.image? %>

<p>
  <strong>Name:</strong>
  <%= @journey.name %>
</p>

<p>
  <strong>Difficulty:</strong>
  <%= @journey.difficulty %>
</p>

<p>
  <strong>Description:</strong>
  <%= @journey.description %>
</p>


<div class="center">
      <%= link_to "Let's Go!", new_journey_claim_path(@journey), class: "btn btn-primary" %>
    </div>

<%= link_to 'Edit', edit_journey_path(@journey) %> |
<%= link_to 'Back', journeys_path %>
