<div class="form">
<p id="notice"><%= notice %></p>
<div class="image-show">
	<%= image_tag @journey.first_image_url if @journey.first_image? %>
</div>

  <h2><%= @journey.name %></h2>

<p>
  <strong>Starting Point:</strong> <%= @journey.first_clue %>
</p>
<p>
  <strong>Keywords:</strong> <%= @journey.description %>
</p>
<p>
  <strong>Difficulty Rating:</strong> <%= @journey.difficulty %>
</p>




<div class="center">
      <%= link_to "Let's Go!", new_journey_claim_path(@journey), class: "btn btn-primary" %>
    </div>
<% if @journey.user == current_user %>
	<%= link_to 'Edit', edit_journey_path(@journey) %> |
<% end %>
<%= link_to 'Back', journeys_path %>
</div>