<!DOCTYPE html>
<html>
	<head>
		<title>Inventure: A Treasure Hunt for Places</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=yes">
		<link href="https://fonts.googleapis.com/css?family=Raleway|Rancho|Shadows|Pacifico|Cabin|Exo:600" rel="stylesheet">
  		
  		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  		<%= csrf_meta_tags %> 
	</head>
	<body>
		<div class="container-fluid">
			<%= render 'layouts/header' unless @skip_header %>
			<%= yield %>
		</div>
	</body>
</html>
