<!DOCTYPE html>
<html>
<div class="container-fluid">
<div class="containerbackground">
<head>
  <title>Inventure</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' unless @skip_header %>
<%= yield %>
</div>
</div>
</body>
</html>
